{% extends 'base.html' %}
{% load static %}
{% block title %}UsefuL TooL - Contact{% endblock %}


  <!-- Main Content-->
  {% block contents %}
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
       <div class="col-md-10 col-lg-8 col-xl-7">
        <br>
         <p>質問・ご意見・ご要望等は、以下のフォームよりご連絡ください。</p>
         {% if messages %}
         <ul class="list-unstyled" style="list-style: none;">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                {{message}}
            </li>
            {% endfor %}
         </ul>
         {% endif %}
         <div class="my-5">
           <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-floating">
                <div class="form-group floating-label-form-group controls">
                    {{ field.label_tag }}
                    {{ field }}
                    <p class="help-block text-danger"></p>
                </div>
              </div>
            {% endfor %}
            <br>
            <button type="submit"
                   class="btn btn-primary btn-color"
                   id="sendMessageButton">送信</button>
           </form>
         </div>
       </div>
      </div>
    </div>
    <hr>
  </main>
  {% endblock %}

