<!--ベーステンプレートを適応-->
{% extends 'base.html' %}

<!--ヘッダー情報のページタイトルを設定-->
{% block title %}Photo Detail{% endblock %}

    {% block contents %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col offset-3">
                <h2>{{ object.title }}</h2>
                <p class="p_main">{{ object.comment }}</p>
                <p class="p_main">≪キーワード≫<br>{{ object.for_user }}</p>
                <br>
                <p>{{ object.posted_at }}</p>
                <p><img src="{{ object.image1.url }}" width="600"></img></p>
                {% if object.image2 %}
                    <p><img src="{{ object.image2.url }}" width="600"></img></p>
                {% endif %}

                <!--P503-->
                {% if request.user == object.user %}
                <form method="POST">
                    <a href="{% url 'tool:tool_delete' object.pk %}" class="btn btn-primary my-2 btn-color3">削除する</a>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
    {% endblock %}
