<!doctype html>
<html lang="ja">
  <head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}"> <!--ファビコンを設定-->
    <style>
        .pad{
          background-color: #ffefd5;
            border: double 2px;
            border-color: #e67147;
            padding-top: 30px;
            padding-bottom: 50px;
            padding-left: 100px;
            margin-top: 50px;
            margin-right: 70px;
            margin-left: 70px;
            color: #e67147;
        }
    </style>
  </head>

  <body>
    <div class="pad">
        <h2>UsefuL TooL</h2>
        <h4>新しいパスワードを2回入力してください。これにより、正しく入力できたことが確認されます。</h4>
        <br />
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="btn-color5" value="パスワードリセット"/>
        </form>
    </div>
  </body>
</html>
